/*
 * 辅助：间距
 */
.mar-l-sm {margin-left: 5px}
.mar-l {margin-left: 10px;}
.mar-l-lg {margin-left: 15px;}

.mar-r-sm {margin-right: 5px;}
.mar-r {margin-right: 10px;}
.mar-r-lg {margin-right: 15px;}

.mar-t-sm {margin-top: 5px;}
.mar-t {margin-top: 10px;}
.mar-t-lg {margin-top: 15px;}

.mar-b-sm {margin-bottom: 5px}
.mar-b {margin-bottom: 10px }
.mar-b-lg {margin-bottom: 15px;}

.pad-b-sm {padding-bottom: 5px;}
.pad-b {padding-bottom:10px}
.pad-b-lg {padding-bottom:15px}

.pad-t-sm {padding-top: 5px;}
.pad-t {padding-top:10px}
.pad-t-lg {padding-top:15px}

.pad-l-sm {padding-left: 5px;}
.pad-l {padding-left:10px}
.pad-l-lg {padding-left:15px}

.pad-r-sm {padding-right: 5px;}
.pad-r {padding-right:10px}
.pad-r-lg {padding-right:15px}


/* ::-webkit-scrollbar {width: 4px;height: 4px;}
::-webkit-scrollbar-thumb {border-width: 1px;border-style: solid;border-color: #fff;border-radius: 6px;background: #d7d7d7;}
::-webkit-scrollbar-track-piece {width: 11px;height: 11px;} */

/*
 * 辅助：文字
 */
.text-right {
    text-align: right
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}


/*
 * 对齐
 */
.pull-right {
    float: right;
}
.pull-left { 
    float: left;
}


/*
 * 重置
 * @important 如果更新ivew需要对node_modules的样式进行修改
 */
.ivu-form-label-right .ivu-form-item-label {
    float: left;
    padding: 10px 12px 10px 0;
}
.ivu-form-item .ivu-form-item .ivu-form-item-content {
    margin-left:auto;
}